/***************************** MAIN STRUCTURE *****************************/
body {
	font-size: 12pt;
	font-family: Verdana, Helvetia, sans-serif;
	padding: 0px;
	margin: 0px;
    text-align: center;
}

ul#nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#nav li {
    float: left;
    margin: 0px 15px 0px 0px;
}

#main {
    margin: 0px auto;
    text-align: left;
    width: 900px;
    padding: 15px;
}

#content {
    margin: 70px 0px 0px 0px;
    clear: left;
}

#footer {
	font-size: 8pt;
	font-family: Verdana, Helvetia, sans-serif;
    clear: left;
}

/***************************** PAGE SPECIFIC IDS *****************************/
#current_followers {
    float: left;
}

fieldset#login {
    border: 0px;
}

#login label {
	margin: 0px 10px 20px 10px;
    width: 100px;
    float: left;
}

fieldset p {
    clear: left;
}

/***************************** IMAGES *****************************/
img.followers {
    margin: 0px 0px 0px 100px;
    float: left;
}
