<html>
  <head>
    <title>Tweetfollow</title>
  </head>
  <body>
    <h1>TweetFollow {% block header %} {% endblock %}</h1>
	<ul id="nav">
        {% if followers %}
		    <li><a href="/refresh/">Refresh stats</a></li>
		    <li><a href="/logout/">Logout</a></li>
        {% else %}
		    <li><a href="/login/">Login</a></li>
        {% endif %}
		    <li><a href="/users/">Current Tweetfollow Users</a></li>
    </ul>
    <div id="content"> {% block content %} {% endblock %}</div>
  </body>
</html>
