{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block content %}
    {% if followers %}
        {% for follower in followers %}
            {% if forloop.first %}
                <p>
                    {{follower.user.username}} currently has {{follower.user.follow_count}} followers.
                </p>
                <ul>
            {% endif %}

            <li>{{ follower.followerid }}</li>

            {% if forloop.last %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
