{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block content %}
    {% for follower in followers %}
        {% if forloop.first %}
            <h1>{{username}}</h1>
            <p>{{follower_cnt}} followers</p>
            <ul id="current_followers">
        {% endif %}

        <li>{{ follower.name }}</li>

        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}

    {% if chart_url %}
        <img class="followers" src="{{chart_url}}" alt="Follower Count"/>
    {% endif %}
{% endblock %}
