{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
  <p>{{ msg }} </p>
  <form action="/login/" id="reg" method="post">
    <fieldset>
      <legend> Twitter user </legend>
      <p>
         <label for="user">User:</label>
         <input type="text" id="user" name="user"/>
      </p>
      <p>
         <label for="pwd">Password:</label>
         <input type="password" id="pwd" name="pwd"/>
      </p>
      <p><input type="submit" value="submit"/></p>
    </fieldset>
  </form>
{% endblock %}
